snippet co
	Co-authored-by: ${1} <${2}>

snippet run
	pre-commit.ci run
snippet auto
	pre-commit.ci autofix
snippet ci
	[ci skip]
snippet skip
	[pre-commit.ci skip]

snippet add
	Add $0
snippet del
	Delete $0
snippet up
	Update $0
snippet re
	Rename $1 to $0
snippet fix
	Fix #
snippet init
	Initial
