snippet if "if / then"
	if $1 then $2 end
snippet ife "if / then / else"
	if $1 then $2 else $3 end
snippet elif "elif / then"
	elif $1 then $2
snippet elife "elif / then / else"
	elif $1 then $2 else $3
snippet try "try  / catch"
	try $1 catch $2
snippet red "reduce / as"
	reduce $1 as ${2:item} ($3; $4)
snippet fore "foreach / as"
	foreach $1 as ${2:item} ($3; $4; $5)
