snippet fun
				function ${1:functionname}(${2:parameters})
					${0}
				end

# For loop iterating over iterable container
snippet forin
				for ${1} in ${2}
					${0}
				end

# Standard for loop
snippet for
				for ${1} = ${2}
					${0}
				end

# Nested for loop
snippet fornest
				for ${1} = ${2}, ${3} = ${4}
					${0}
				end

# While loop
snippet while
				while ${1} ${2:<=} ${3}
					${0}
				end

# Try catch
snippet try
				try
					${1}
				catch ${2}
					${0}
				end
