#resource controller
snippet doc_rsc
	/*!
	 * \namespace	${1}
	 * \class		${2:$1}
	 *
	 * \author		${3:Claudio Maradonna} ${4:<claudiom@keyson.it>}
	 * \date		`strftime('%d-%m-%y')`
	 */
	class $$1 {
		public function index() {}
		public function create() {}
		public function store($id) {}
		public function show($id) {}
		public function edit($id) {}
		public function update($id) {}
		public function destroy($id) {}
	}
