snippet #!
	#!/usr/bin/env Rscript

# includes
snippet lib
	library(${1:package})
snippet req
	require(${1:package})
snippet source
	source('${1:file}')

# conditionals
snippet if
	if (${1:condition}) {
		${2:code}
	}
snippet else
	else {
		${1:code}
	}
snippet ei
	else if (${1:condition}) {
		${2:code}
	}

# functions
snippet fun
	${1:name} = function (${2:variables}) {
		${3:code}
	}
snippet ret
	return(${1:code})
