snippet cameracube "THREE.CubeCamera"
    new THREE.CubeCamera(${1:near}, ${2:far}, ${3:cubeResolution})

endsnippet

snippet cameraorthographic "THREE.OrthographicCamera"
    new THREE.OrthographicCamera(${1:left}, ${2:right}, ${3:top}, ${4:bottom}, ${5:near}, ${6:far})

endsnippet

snippet cameraperspective "THREE.PerspectiveCamera"
    new THREE.PerspectiveCamera(${1:fov}, ${2:aspect}, ${3:near}, ${4:far})

endsnippet
