# -------------------------------------------------
# Functions
# -------------------------------------------------

snippet copyob "object.copy"
    ${1:object}.copy(${2:source})${3}
endsnippet

snippet copych "chain copy"
    .copy(${1:source})${2}
endsnippet

snippet cloneob "object.clone"
    ${1:object}.clone()${2}
endsnippet

snippet clonech "chain clone"
    .clone()${1}
endsnippet
