###########################################################################
#                            TextMate Snippets                            #
###########################################################################
snippet def
(define ${2:(${1:name-and-args})}
	${0:body})
endsnippet
# vim:ft=snippets:
