priority -50

snippet dv "Derivative" w
\dv[${1:${VISUAL}}]{${2}}{${3}}
endsnippet

snippet pdv "Partial Derivative" w
\pdv[${1:${VISUAL}}]{${2}}{${3}}
endsnippet

snippet SI "SI-Unit" w
\SI{${1:${VISUAL}}}{${2}}
endsnippet

# vim:ft=snippets:
