snippet const
	const ${0} = ${1};

snippet let
	let ${0} = ${1};

snippet im
	import ${0} from '${1}';

snippet inter
	interface ${0} {
		${1}
	}

snippet cls
	class ${0} {
		${1}
	}

snippet clex
	class ${0} extends ${1} {
		${2}
	}

snippet =>
	(${0}) => {
		${1}
	}

snippet sym
	const ${0} = Symbol('${1}');

snippet ed
	export default ${0}
